.new_user {
    width: 70%;
    margin: auto;

    h2 {
        color: white;
        border: 2px solid olivedrab;
        background-color: olivedrab;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        padding: .3rem 0;
        margin: 1rem 0rem;

    }

    h3 {
        background-color: olivedrab;
        padding: .5rem;
        color: white;

    }

    .user_data {

        padding: 1rem;

        p {
            color: olivedrab;
            margin: .5rem 0;
        }
    }



    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .row {

            display: flex;
            margin: .5rem 0;

            .col {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;

                label {
                    width: 30%;
                    text-align: center;
                    font-weight: bolder;
                }

                input,
                select {
                    width: 70%;
                    border: 1px solid rgb(190, 190, 190);
                    outline: none;
                    padding: .5rem;
                    border-radius: 5px;
                    transition: border 0.3s ease, box-shadow 0.3s ease;

                    &:focus {
                        border: 1px solid rgb(67, 211, 247);
                        border-radius: 5px;
                        box-shadow: 0px 0px 15px 0px rgba(67, 211, 247, 0.8);
                    }
                }
            }

        }
    }

    .indirizzo {
        padding: 1rem;


    }

    .registrati {
        width: 100px;
        padding: .5rem 1rem;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 3px;
        border-top-right-radius: 3px;
        margin-top: 2rem;
        cursor: pointer;
        color: white;
        font-weight: bolder;
        border: none;
        background-color: olivedrab;

        &:hover {
            filter: contrast(120%);
        }
    }


    .newsletter {
        display: flex;
        margin: auto;
        justify-content: space-between;
        padding: 1rem;
        align-items: center;
        border: 2px solid olivedrab;
        margin-top: 5rem;
        margin-bottom: 3rem;
        border-radius: 10px;

        p:nth-child(1) {
            color: olivedrab;
            font-size: 25px;
            font-weight: bolder;



        }

        p:nth-child(2) {
            color: gray;
            font-size: 25px;
            font-weight: bolder;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        p:nth-child(3) {
            color: gray;
            font-size: 20px;
            padding: 1rem;
            border: 1px solid rgb(29, 110, 18);
            cursor: pointer;
        }

    }
}

.user_message_on {
    width: 100%;
    text-align: center;
    padding: .5rem;
    background-color: rgba(250, 6, 6, 0.473);
    border-radius: 10px;
    border: 1px solid red;
    color: black !important;
}

.user_message_off {
    display: none;
    width: 100%;
    text-align: center;
    padding: .5rem;
    background-color: rgba(250, 6, 6, 0.473);
    border-radius: 10px;
    border: 1px solid red;
    color: black !important;

}