.product_by_category_container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
    padding: 2rem 0rem;


    .product_by_category_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% /3);
        border: 1px solid gray;
        position: relative;


        span {
            position: absolute;
            left: 1rem;
            top: 1rem;
            font-size: large;
            color: white;
            background-color: rgb(18, 138, 28);
            padding: .5rem 1.5rem;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 10px;

        }

        img {
            width: 30%;
            height: 30%;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .short_description {
            font-size: small;
            margin-bottom: 4rem;
        }

        .original_price {
            font-size: x-large;
            font-weight: bold;
            color: gray;
            text-decoration: line-through;

        }

        .price {
            font-size: large;
            font-weight: bolder;
            color: red;

        }

        .separator {
            width: 50%;
            height: 2px;
            background-color: gray;
            margin-bottom: 1rem;
        }


        button {
            margin-top: 1rem;
            font-size: small;
            font-weight: bold;
            color: white;
            background-color: black;
            padding: .5rem 1rem;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 10px;
            cursor: pointer;


            &:hover {
                background-color: rgb(54, 54, 54);
            }
        }
    }
}