.cart_container {
    display: flex;
    width: 80%;
    flex-direction: column;

    :nth-child(2) {
        display: flex;


    }



    .title {
        display: flex;


        p:nth-child(1) {
            font-size: xx-large;
            font-weight: bolder;
            color: olivedrab;
            margin-right: 1rem;
        }


        p:nth-child(3) {
            font-size: xx-large;
            font-weight: bolder;
            margin-left: 1rem;
            color: grey;
        }

        img {
            width: 30px;
        }


    }

    /*#region cartdetails*/
    .cart_details {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        border: 2px solid olivedrab;
        border-radius: 5px;
        padding: 1rem;
        margin-right: 2rem;

        .products_in_cart {
            font-size: x-large;
            font-weight: bold;
            color: gray;
        }

        .notehead,
        .row {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            min-height: 3rem;
            border: 2px solid olivedrab;
            padding: .5rem;

            &>p,
            div {
                width: calc(100% / 6);

            }

            div {
                img {
                    width: 50%;
                }

                input {
                    width: 20%;
                }
            }


        }

        .notehead {
            background-color: beige;
            border: 3px solid olivedrab !important;
        }

        .delete_from_cart {
            border: none;
            margin-left: .5rem;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 10px;
            padding: .2rem .4rem;
            background-color: rgb(202, 202, 202);
            cursor: pointer;
        }

        .delete_from_cart:hover {
            background-color: rgb(177, 170, 170);
        }

        .vai_alla_cassa_container {
            display: flex;
            width: 100%;
            justify-content: center;

            button {
                margin-top: 1rem;
                color: white;
                border: 2px solid olivedrab;
                background-color: olivedrab;
                border-bottom-right-radius: 10px;
                border-top-left-radius: 10px;
                padding: .3rem 0;
            }

        }

    }

    /*#endregion cartdetails*/

    /*#region rightcards*/

    .right_cards {
        display: flex;
        flex-direction: column;
        flex: 1;

        div:nth-child(1) {
            display: flex;
            flex-direction: column;
            border: 2px solid olivedrab;
            border-radius: 5px;
            padding: 1rem;

            button {
                margin-top: 1rem;
                color: white;
                border: 2px solid olivedrab;
                background-color: olivedrab;
                border-bottom-right-radius: 10px;
                border-top-left-radius: 10px;
                padding: .3rem 0;
            }
        }

        div:nth-child(2) {
            display: flex;
            flex-direction: column;
            border: 2px solid olivedrab;
            border-radius: 5px;
            padding: 1rem;
            margin-top: 1rem;

            button {
                margin-top: 1rem;
                color: white;
                border: 2px solid olivedrab;
                background-color: olivedrab;
                border-bottom-right-radius: 10px;
                border-top-left-radius: 10px;
                padding: .3rem 0;
            }
        }
    }


    /*#endregion rightcards*/
}