.cart_container {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;

    :nth-child(2) {
        display: flex;

        :nth-child(2) {
            display: flex;
            flex-direction: column;
        }
    }

    .title {
        display: flex;
        width: 100%;


        :nth-child(1) {
            font-size: xx-large;
            font-weight: bolder;
            color: olivedrab;
            margin-right: 1rem;
        }


        :nth-child(3) {
            font-size: xx-large;
            font-weight: bolder;
            margin-left: 1rem;
            color: grey;
        }

        img {
            width: 30px;
        }


    }

    .cart_details {


        .notehead {
            display: flex;
        }
    }
}