.cart_container {
    display: flex;
    width: 80%;
    flex-direction: column;

    :nth-child(2) {
        display: flex;


    }



    .title {
        display: flex;


        p:nth-child(1) {
            font-size: xx-large;
            font-weight: bolder;
            color: olivedrab;
            margin-right: 1rem;
        }


        p:nth-child(3) {
            font-size: xx-large;
            font-weight: bolder;
            margin-left: 1rem;
            color: grey;
        }

        img {
            width: 30px;
        }


    }

    .cart_details {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        border: 2px solid olivedrab;
        border-radius: 5px;
        padding: 1rem;
        margin-right: 2rem;

        .products_in_cart {
            font-size: x-large;
            font-weight: bold;
            color: gray;
        }

        .notehead,
        .row {
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin-top: .5rem;

        }
    }

    .left_card {
        display: flex;
        flex-direction: column;
        flex: 1;

        div:nth-child(1) {
            display: flex;
            flex-direction: column;
            border: 2px solid olivedrab;
            border-radius: 5px;
            padding: 1rem;
        }

        div:nth-child(2) {
            display: flex;
            flex-direction: column;
            border: 2px solid olivedrab;
            border-radius: 5px;
            padding: 1rem;
            margin-top: 1rem;
        }
    }
}