    .check_out_container {

        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;

        .title {
            display: flex;


            p:nth-child(1) {
                font-size: xx-large;
                font-weight: bolder;
                color: olivedrab;
                margin-right: 1rem;
            }


            p:nth-child(3) {
                font-size: xx-large;
                font-weight: bolder;
                margin-left: 1rem;
                color: grey;
            }

            img {
                width: 30px;
            }
        }

        .process_order_container {
            display: flex;
        }

        .process_order_col {
            display: flex;
            flex-direction: column;
            width: 300px;
            flex-grow: 1;
            padding: .5rem;

            .ritiro_consegna_header {
                display: flex;
                font-size: larger;
                font-weight: bold;
                background-color: olivedrab;
                color: white;
                justify-content: space-between;
                align-items: center;
                border-radius: 10px;
                padding: .5rem .5rem;


                .circle {
                    height: 35px;
                    width: 35px;
                    border: 1px solid;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    color: olivedrab;

                }
            }

            &>p {
                color: olivedrab;
                font-size: large;
                font-weight: bold;
            }

            .store_choose {
                padding: .5rem;

                &:hover {

                    box-shadow: 0px 0px 10px rgba(18, 143, 18, 0.555);
                }

                label {
                    margin-left: .2rem;
                    cursor: pointer;
                }


            }

            .indirizzo_di_spedizione_card {

                div {
                    p:first-child {
                        color: olivedrab;
                        font-weight: bolder;
                        margin-bottom: .5rem;
                    }

                    p:nth-child(2) {
                        margin-bottom: .5rem;
                    }
                }
            }
        }

        .payment_methods_card {
            display: none;

            div {

                padding: .5rem;

                &:hover {

                    box-shadow: 0px 0px 10px rgba(18, 143, 18, 0.555);
                }

                label {
                    margin-left: .2rem;
                    cursor: pointer;
                }
            }
        }

        .presso_negozio {
            padding: .5rem;

            &:hover {

                box-shadow: 0px 0px 10px rgba(18, 143, 18, 0.555);
            }

            label {
                margin-left: .2rem;
                cursor: pointer;
            }
        }

        .riepilogo_carrello {
            display: flex;
            flex-direction: column;

            padding: .5rem;

            .riepilogo_carrello_header {
                display: flex;

                p:nth-child(1) {
                    flex: 2;
                }

                p:nth-child(2) {
                    flex: 1;
                }

                p:nth-child(3) {
                    width: 50px;
                }

                margin-bottom: .5rem;


            }

            .riepilogo_carrello_details {
                display: flex;
                font-size: small;
                padding: .3rem 0;
                border-top: 1px solid olivedrab;
                border-bottom: 1px solid olivedrab;

                div:nth-child(1) {
                    display: flex;
                    padding: 0 .5rem;
                    flex: 2;

                    img {
                        width: 50px;
                        aspect-ratio: 1;
                    }
                }

                p:nth-child(2) {
                    flex: 1;
                }

                p:nth-child(3) {
                    width: 50px;
                    text-align: right;
                }


            }
        }

        .card_data_form {

            label {
                margin-right: 1rem;
            }

            .card_holder {
                margin: .2rem 0;

                input {
                    border: 1px solid rgb(190, 190, 190);
                    outline: none;
                    border-radius: 5px;
                    transition: border 0.3s ease, box-shadow 0.3s ease;

                    &:focus {
                        border: 1px solid rgb(67, 211, 247);
                        border-radius: 5px;
                        box-shadow: 0px 0px 15px 0px rgba(67, 211, 247, 0.8);
                    }
                }
            }

            .card_number {
                margin: .2rem 0rem;

                input {
                    width: 40px;
                    border: 1px solid rgb(190, 190, 190);
                    outline: none;
                    border-radius: 5px;
                    transition: border 0.3s ease, box-shadow 0.3s ease;

                    &:focus {
                        border: 1px solid rgb(67, 211, 247);
                        border-radius: 5px;
                        box-shadow: 0px 0px 15px 0px rgba(67, 211, 247, 0.8);
                    }
                }
            }

            .card_expire {

                margin: .2rem 0rem;

                input {
                    width: 20px;
                    border: 1px solid rgb(190, 190, 190);
                    outline: none;
                    border-radius: 5px;
                    transition: border 0.3s ease, box-shadow 0.3s ease;

                    &:focus {
                        border: 1px solid rgb(67, 211, 247);
                        border-radius: 5px;
                        box-shadow: 0px 0px 15px 0px rgba(67, 211, 247, 0.8);
                    }
                }

            }

            .card_cvc {
                margin: .2rem 0rem;

                input {
                    width: 30px;
                    border: 1px solid rgb(190, 190, 190);
                    outline: none;
                    border-radius: 5px;
                    transition: border 0.3s ease, box-shadow 0.3s ease;

                    &:focus {
                        border: 1px solid rgb(67, 211, 247);
                        border-radius: 5px;
                        box-shadow: 0px 0px 15px 0px rgba(67, 211, 247, 0.8);
                    }
                }
            }
        }

        .order_button {
            background-color: olivedrab;
            padding: .5rem 0;
            margin-top: 1rem;
            color: white;
            border-radius: 10px;
            cursor: pointer;
            border: none;
        }

        .order_button:hover {
            background-color: rgb(161, 206, 71);
        }


        .bank_data_form {
            div {
                margin: .2rem 0;
            }

            label {
                margin-right: 1rem;
            }


            input {
                border: 1px solid rgb(190, 190, 190);
                outline: none;
                border-radius: 5px;
                transition: border 0.3s ease, box-shadow 0.3s ease;

                &:focus {
                    border: 1px solid rgb(67, 211, 247);
                    border-radius: 5px;
                    box-shadow: 0px 0px 15px 0px rgba(67, 211, 247, 0.8);
                }
            }
        }

    }