    .check_out_container {

        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;

        .title {
            display: flex;


            p:nth-child(1) {
                font-size: xx-large;
                font-weight: bolder;
                color: olivedrab;
                margin-right: 1rem;
            }


            p:nth-child(3) {
                font-size: xx-large;
                font-weight: bolder;
                margin-left: 1rem;
                color: grey;
            }

            img {
                width: 30px;
            }
        }

        .process_order_container {
            display: flex;
        }

        .process_order_col {
            display: flex;
            flex-direction: column;
            width: 300px;
            flex-grow: 1;
            padding: .5rem;

            .ritiro_consegna_header {
                display: flex;
                font-size: larger;
                font-weight: bold;
                background-color: gray;
                color: white;
                justify-content: space-between;
                align-items: center;
                border-radius: 10px;
                padding: .5rem .5rem;


                .circle {
                    height: 35px;
                    width: 35px;
                    border: 1px solid;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    color: olivedrab;

                }
            }

            &>p {
                color: olivedrab;
                font-size: large;
                font-weight: bold;
            }

            .store_choose {
                padding: .5rem;

                &:hover {

                    box-shadow: 0px 0px 10px rgba(18, 143, 18, 0.555);
                }

                label {
                    margin-left: .2rem;
                    cursor: pointer;
                }


            }

            .indirizzo_di_spedizione_card {

                div {
                    p:first-child {
                        color: olivedrab;
                        font-weight: bolder;
                        margin-bottom: .5rem;
                    }

                    p:nth-child(2) {
                        margin-bottom: .5rem;
                    }
                }
            }
        }



    }