.login_signin {
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 2rem;


}


/*#region login*/


.login {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;


    h3 {
        color: white;
        border: 2px solid olivedrab;
        background-color: olivedrab;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        padding: .3rem 0;
    }

    hr {
        margin-bottom: 1rem;
    }

    form {

        div:nth-child(1) {
            display: flex;
            justify-content: space-around;
            margin: 1rem 0;


            label {
                display: flex;
                font-weight: bolder;
                flex: 1;

            }

            input {
                flex: 2;
                border: 1px solid rgb(190, 190, 190);
                outline: none;
                padding: .5rem;
                border-radius: 5px;
                transition: border 0.3s ease, box-shadow 0.3s ease;

                &:focus {
                    border: 1px solid rgb(67, 211, 247);
                    border-radius: 5px;
                    box-shadow: 0px 0px 15px 0px rgba(67, 211, 247, 0.8);
                }
            }
        }


        div:nth-child(2) {
            display: flex;
            justify-content: space-around;
            margin: 1rem 0;


            label {
                display: flex;
                font-weight: bolder;
                flex: 1;

            }

            input {
                flex: 2;
                border: 1px solid rgb(190, 190, 190);
                outline: none;
                padding: .5rem;
                border-radius: 5px;
                transition: border 0.3s ease, box-shadow 0.3s ease;

                &:focus {
                    border: 1px solid rgb(67, 211, 247);
                    border-radius: 5px;
                    box-shadow: 0px 0px 15px 0px rgba(67, 211, 247, 0.8);
                }
            }
        }



    }

    .button_div {
        display: flex;
        justify-content: space-around;
        margin: 2rem 0;

        button {
            padding: .5rem 1rem;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 3px;
            border-top-right-radius: 3px;
            cursor: pointer;
            color: white;
            font-weight: bolder;
            border: none;
        }

        button:nth-child(1) {
            background-color: olivedrab;

        }

        button:nth-child(2) {
            background-color: rgb(59, 138, 202);
        }

        button:hover {
            filter: contrast(120%)
        }

    }
}

.gia_registrato {
    margin: 1rem 0rem;

    span {
        color: rgb(119, 182, 67);
        font-size: large;
        font-weight: bold;
    }

}

.user_message_on {
    width: 100%;
    text-align: center;
    padding: .5rem;
    background-color: rgba(250, 6, 6, 0.473);
    border-radius: 10px;
    border: 1px solid red;
}

.user_message_off {
    display: none;
    width: 100%;
    text-align: center;
    padding: .5rem;
    background-color: rgba(250, 6, 6, 0.473);
    border-radius: 10px;
    border: 1px solid red;

}


/*#endregion login*/



/*#region signin*/

.signin {

    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    flex: 1;
    background-color: beige;
    padding: 1rem;

    h3 {
        color: white;
        border: 2px solid olivedrab;
        background-color: olivedrab;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        padding: .3rem 0;
    }

    hr {
        margin-bottom: 1rem;
    }

    .effettua_registrazione {
        margin: 1rem 0rem;

        span {
            color: rgb(119, 182, 67);
            font-size: large;
            font-weight: bold;
        }
    }


    ul {
        padding-left: 3rem;
    }

    button {
        padding: .5rem 1rem;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 3px;
        border-top-right-radius: 3px;
        cursor: pointer;
        color: white;
        font-weight: bolder;
        border: none;
        background-color: olivedrab;
        margin-top: 1rem;
        width: 30%;
    }

    button:hover {
        filter: contrast(120%)
    }
}

.newsletter {
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    border: 2px solid olivedrab;
    margin-top: 10rem;
    margin-bottom: 3rem;
    border-radius: 10px;

    p:nth-child(1) {
        color: olivedrab;
        font-size: 25px;
        font-weight: bolder;



    }

    p:nth-child(2) {
        color: gray;
        font-size: 25px;
        font-weight: bolder;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    p:nth-child(3) {
        color: gray;
        font-size: 20px;
        padding: 1rem;
        border: 1px solid rgb(29, 110, 18);
        cursor: pointer;
    }
}


/*#endregion signin*/