.nav_bar {
    display: flex;
    width: 100%;


}

.nav_bar_category {
    display: flex;
    width: 100% !important;
    position: relative;
    height: 6vh;
    z-index: 1;

    .categories {
        width: 100%;
        display: flex;
        justify-content: center;

        div {

            width: calc(100% / 6);
            padding: 1rem 0rem 0rem 0rem;
            color: rgb(78, 78, 78);
            font-weight: bold;
            margin-right: .1rem;
            text-align: center;
            background: linear-gradient(to bottom, rgb(224, 224, 224), rgb(255, 255, 255));

            cursor: pointer;

        }

        :last-child {
            margin-right: 0;
        }

        div:hover {
            background: linear-gradient(to bottom, white, white);
        }

    }


}

.popup_computer_tablet_notebook,
.popup_consumabile_accessori,
.popup_hardware_software,
.popup_monitor_stampanti_periferiche,
.popup_telefonia_werabile,
.popup_giochi {
    display: flex;
    visibility: hidden;
    position: absolute;
    filter: brightness(50%);
    width: 100%;
    max-height: 350px;
    padding: 1rem;
    background-color: white;
    transition: filter .7s ease-out;
    top: 6vh;



    .popup_options {
        display: flex;
        flex-direction: column;
        width: calc((100%/3)*2);
    }

    .popup_adv {
        width: calc((100%/3));
        border-left: 1px solid gray;
        cursor: pointer;
        padding: 0rem 1rem;

        img {
            height: 100%;
        }
    }

    .popup_links {
        display: flex;

        div {
            display: flex;
            flex-direction: column;
            align-self: start;
            width: calc(100% / 3);

            a,
            a:visited {
                padding: .5rem .2rem;
                color: rgb(65, 119, 182);
                text-decoration: none;
                display: inline-block;
                background-size: 300% 300%;
            }

            a:hover {
                transition: .3s ease;
                color: #000;
                background: linear-gradient(to right, #b1b0b0, #ffffff);
            }
        }
    }

    .popup_button_option {
        display: flex;
        margin-top: 1rem;
        width: 100%;


        button {
            border: 2px solid rgb(95, 145, 20);
            border-bottom-right-radius: 10px;
            border-top-left-radius: 10px;
            font-size: x-large;
            color: rgb(65, 119, 182);
            font-weight: bolder;
            margin-right: 1rem;
            padding: .5rem 2rem;
            background-color: white;
            cursor: pointer;


            &:hover {
                background-color: lightgray;
                transition: 200ms;
            }
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.menu_configuratore_batterie {
    width: 50%;
    cursor: pointer;
}