.nav_bar {
    display: flex;
    flex-direction: column;

}

.nav_bar_category {
    display: flex;

    div {
        width: calc(100% / 6);
        text-align: center;
        background-color: lightgray;
        padding: .8rem 0rem 2rem 0rem;
        color: rgb(78, 78, 78);
        margin-right: .1rem;

    }

    :last-child {
        margin-right: 0;
    }

    div:hover {
        background-color: white;
        cursor: pointer;
    }
}

.popup_computer_tablet_notebook,
.popup_consumabile_accessori,
.popup_hardware_software,
.popup_monitor_stampanti_periferiche,
.popup_telefonia_werabile,
.popup_giochi {
    display: none;
    position: absolute;
    border: 1px solid black;
    width: 100%;
    height: 200px;
    z-index: 5;
    background-color: white;
}