main {
    display: flex;
    flex-direction: column;
}

/*#region adv banner*/
.image {
    display: block;
    width: 100%;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    will-change: opacity;


}

@keyframes fadeIn {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        z-index: 0;
    }

}

.home_adv_button_container {
    background-color: black;
    display: flex;
    padding: 0 3rem;
    transition: 500ms;

    button {
        border: 1px solid rgba(0, 0, 0, 0);
        flex-grow: 1;
        background-color: black;
        padding: 1rem 2rem;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: 500ms;

        &.active {
            border: 1px solid white;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 10px;
            background-color: white !important;
            color: rgb(0, 0, 0);
        }
    }
}


/*#endregion adv banner*/


/*#region offerte del giorno*/


.offerte_del_giorno,
.novita {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.offerte_del_giorno_cards,
.novita_cards {
    display: flex;

}

.card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 1rem;
    border: 1px solid gray;
    margin: 0 1px;
    border-radius: 5px;

    span {
        position: absolute;
        left: 1rem;
        font-size: large;
        color: white;
        background-color: rgb(18, 138, 28);
        padding: .5rem 1.5rem;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;

    }

    img {
        width: 30%;
        height: 30%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .short_description {
        font-size: small;
        margin-bottom: 4rem;
    }

    .original_price {
        font-size: x-large;
        font-weight: bold;
        color: gray;
        text-decoration: line-through;

    }

    .price {
        font-size: large;
        font-weight: bolder;
        color: red;

    }

    .separator {
        width: 50%;
        height: 2px;
        background-color: gray;
        margin-bottom: 1rem;
    }


    button {
        margin-top: 1rem;
        font-size: small;
        font-weight: bold;
        color: white;
        background-color: black;
        padding: .5rem 1rem;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        cursor: pointer;


        &:hover {
            background-color: rgb(54, 54, 54);
        }
    }
}




/*#endregion offerte del giorno*/


/*#region logoc carousel*/

.brand_list_logo {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;


}

.img_logo {
    flex-grow: 1;
    padding: 0 .5rem;
    filter: grayscale(130%);
    opacity: .5;
    cursor: pointer;
    transition: filter 0.1s ease;
    transition: opacity 0.5s ease;

    &:hover {
        filter: grayscale(0%);
        opacity: 1;

    }
}

.back_arrow {
    rotate: -180deg;
    width: 20px;
    cursor: pointer;
}

.forward_arrow {
    width: 20px;
    cursor: pointer;
}

/*#endregion logoc carousel*/

.discount_adv {
    width: 80%;
    margin: auto;

    img {
        width: 100%;
        cursor: pointer;
    }
}


.news_price {
    color: black;
    font-weight: bolder;
}


/*#region assistenza*/
.assistenza {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.assistenza_clienti {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    border: 2px solid green;
    border-radius: 10px;
    padding: 1rem 2rem;
}

.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    border: 2px solid green;
    border-radius: 10px;
    padding: 1rem 2rem;
}

.volantino {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 1rem;


}


/*#end region assistenza*/