.container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.note_head {
    display: flex;
    margin-top: 2rem;

    h2 {
        margin-left: 3rem;
        padding: .5rem .5rem;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 3px;
        border-top-right-radius: 3px;
        background-color: olivedrab;
        color: white;
        width: 100%;
        align-content: center;
        margin-top: .5rem;
        margin-bottom: .5rem;


    }

}


.edit_user_page_form {
    display: flex;
    width: 100%;
    justify-content: space-around;

    .col {
        width: 50%;
        padding: 1rem;
    }


    .row {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0rem;
        align-items: center;

        input {
            width: 70%;
            border: 1px solid rgb(190, 190, 190);
            outline: none;
            padding: .5rem;
            border-radius: 5px;
            transition: border 0.3s ease, box-shadow 0.3s ease;

            &:focus {
                border: 1px solid rgb(67, 211, 247);
                border-radius: 5px;
                box-shadow: 0px 0px 15px 0px rgba(67, 211, 247, 0.8);
            }
        }

        button {
            padding: .5rem 1rem;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 3px;
            border-top-right-radius: 3px;
            cursor: pointer;
            color: white;
            font-weight: bolder;
            border: none;
            background-color: olivedrab;
        }

        button:hover {
            filter: contrast(120%)
        }

        .input_blocked:disabled {
            background-color: #eee;
            color: #666;
            cursor: not-allowed;

        }
    }
}


.newsletter {
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    border: 2px solid olivedrab;
    margin-top: 5rem;
    margin-bottom: 3rem;
    border-radius: 10px;

    p:nth-child(1) {
        color: olivedrab;
        font-size: 25px;
        font-weight: bolder;



    }

    p:nth-child(2) {
        color: gray;
        font-size: 25px;
        font-weight: bolder;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    p:nth-child(3) {
        color: gray;
        font-size: 20px;
        padding: 1rem;
        border: 1px solid rgb(29, 110, 18);
        cursor: pointer;
    }

}

.indirizzo {
    padding: 1rem;


}